@import 'tailwindcss';

@layer utilities {
	.font-manrope {
		font-family: var(--font-manrope), sans-serif;
	}

	.font-raleway {
		font-family: var(--font-raleway), sans-serif;
	}

	.font-sansation {
		font-family: var(--font-sansation), sans-serif;
	}
}

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin: 0;
	}

	body {
		font-family: var(--font-raleway), sans-serif;
		color: #ffffff;
		background-color: #0c0117;
	}

	html,
	body {
		height: 100%;
		width: 100%;
	}

	ul,
	ol {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	button {
		cursor: pointer;
		padding: 0;
		line-height: 0;
	}

	img {
		display: block;
		max-width: 100%;
		object-fit: contain;
	}
}

.gradient-text-151 {
	background: linear-gradient(
		151deg,
		#90e8ff 0%,
		#9c9eff 40.3%,
		#e3a1ff 79.87%,
		#e56f8c 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.gradient-text-121 {
	background: linear-gradient(
		121deg,
		#5bdbfd 0%,
		#7375ff 40.3%,
		#df93ff 79.87%,
		#e56f8c 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.gradient-bg-121 {
	background: linear-gradient(
		121deg,
		#5bdbfd 0%,
		#7375ff 40.3%,
		#df93ff 79.87%,
		#e56f8c 100%
	);
}

.gradient-text-84 {
	background: linear-gradient(
		84deg,
		#5bdbfd 0%,
		#7375ff 40.3%,
		#df93ff 79.87%,
		#e56f8c 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.gradient-bg-84 {
	background: linear-gradient(
		84deg,
		#5bdbfd 0%,
		#7375ff 40.3%,
		#df93ff 79.87%,
		#e56f8c 100%
	);
}

.gradient-border-84 {
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-image: linear-gradient(
			84deg,
			#5bdbfd 0%,
			#7375ff 40.3%,
			#df93ff 79.87%,
			#e56f8c 100%
		)
		1;
}

.gradient-right-blur {
	background: linear-gradient(84deg, #5bdbfd 0%, #7375ff 40.3%, #df93ff 100%);
	filter: blur(100px);
	opacity: 0.9;
}
